@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to My Blog</h1>
    <p>Explore the world through my eyes</p>
</div>
<section>
    <div class="row">
       @* @foreach(var post in Model.Status)
        {
            <div class="col-md-4">
                <div class="card-mb-4">

                </div>
            </div>
        }*@
    </div>
</section>
