@model BlogNest.Models.Account.LoginViewModel

<div class="container mx-auto">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-6">
            <h1 class="mt-3 mb-3 h3">
                Login
            </h1>
            <form asp-action="Register" method="post">
                 
                <div class="mb-3 ">
                    <label asp-for="Email" class="form-label"></label>
                    <input asp-for="Email" type="text" class="form-control" id="username" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="mb-3 ">
                    <label asp-for="Password" class="form-label"></label>
                    <input asp-for="Password" type="text" class="form-control" id="password" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="mb-3 ">
                    <label asp-for="RememberMe">
                        <input asp-for="RememberMe" />
                        @Html.DisplayNameFor(m=>m.RememberMe)
                    </label>
                </div>
                <button type="submit" class="btn btn-dark">Login</button>
                <input type="hidden" asp-for="ReturnUrl" />
            </form>
        </div>
    </div>

</div>


